* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --txt-titulo: 20px;
  --txt-principal: 15px;
  --borda-caixa-preço: linear-gradient(0deg, #c82090 0%, #6a14d1 100%);
}

body * {
  font-family: "Poppins", sans-serif;
}

#buton-suporte a {
  position: fixed;
  width: fit-content;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  bottom: 20px;
  right: 16px;
  z-index: 9999999;
  cursor: pointer;
  width: 45px;
  border-radius: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  border: 0.5px solid rgb(201, 32, 145, 0.3);
}

#buton-suporte img {
  width: 45px;
  padding: 10px;
}

.background-div {
  display: flex; /* Torna o conteúdo flexível */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  width: 100%;
  background-size: cover;
  background-position: center;
}

#background-1 {
  background-image: url("./img/bg-1.webp"); /* Defina o primeiro fundo desejado */
}

#background-2 {
  background-image: url("./img/bg-2.webp"); /* Defina o segundo fundo desejado */
}

#background-3 {
  background-image: url("./img/bg-3.webp"); /* Defina o segundo fundo desejado */
}

#background-4 {
  background-image: url("./img/bg-4.webp"); /* Defina o segundo fundo desejado */
}

#background-5 {
  background-image: url("./img/bg-5.webp"); /* Defina o segundo fundo desejado */
  background-position: left;
}

#background-6 {
  background-image: url("./img/bg-6.webp"); /* Defina o segundo fundo desejado */
}

#background-7 {
  background-image: url("./img/bg-7.webp"); /* Defina o segundo fundo desejado */
}

#background-8 {
  background-image: url("./img/bg-8.webp"); /* Defina o segundo fundo desejado */
}

#background-9 {
  background-image: url("./img/bg-9.webp"); /* Defina o segundo fundo desejado */
}

#background-10 {
  background-image: url("./img/bg-10.webp"); /* Defina o segundo fundo desejado */
}

#background-11 {
  background-image: url("./img/bg-11.webp"); /* Defina o segundo fundo desejado */
}

#background-12 {
  background-image: url("./img/bg-12.webp"); /* Defina o segundo fundo desejado */
}

#background-13 {
  background-image: url("./img/bg-13.webp"); /* Defina o segundo fundo desejado */
}

#background-14 {
  background-image: url("./img/bg-14.webp"); /* Defina o segundo fundo desejado */
}

#background-15 {
  background-image: url("./img/bg-9.webp"); /* Defina o segundo fundo desejado */
}

#background-16 {
  background-image: url("./img/bg-16.webp"); /* Defina o segundo fundo desejado */
}

#container {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#logo {
  justify-content: center;
  text-align: center;
  max-width: 450px;
  max-height: 80px;
  margin-top: 95px;
}

#Caixa-texto-pg1 {
  width: 370px;
  max-width: 100%;
  height: 125px;
  border-radius: 8px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    0deg,
    rgba(71, 38, 91, 0) 15%,
    rgba(71, 38, 91, 0.611764705882353) 84%,
    rgba(71, 38, 91, 0.611764705882353) 85%
  );

  border: 0.1px solid rgb(201, 32, 145, 0.2);
}

#texto1-pg1 {
  font-size: var(--txt-titulo);
  letter-spacing: 0px;
  color: white;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  padding: 15px 6px;
}

#texto3-pg1 {
  font-size: var(--txt-principal);
  letter-spacing: 0px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}

#caixa-gp-vip {
  width: 360px;
  max-width: 100%;
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
}

#texto-gp-vip {
  color: rgb(43, 9, 65);
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

#caixa-video {
  margin-top: 25px;
}

#video {
  width: 360px;
  height: 200px;
  padding: 0;
}

#negrito {
  font-weight: 700;
}

#rodape-pg01 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

#seu-guia {
  display: flex;
  align-items: center; /* Alinha a imagem e o texto verticalmente no centro */
  text-align: center; /* Centraliza o texto dentro de cada conjunto */
  padding: 5px;
}

#seu-guia img {
  max-width: 100%; /* Garante que a imagem não exceda a largura de seu contêiner */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 130px;
  max-height: 45px;
}

#partidas-analisadas {
  display: flex;
  align-items: center; /* Alinha a imagem e o texto verticalmente no centro */
  text-align: center; /* Centraliza o texto dentro de cada conjunto */
  padding: 5px; /* Adiciona um pouco de espaço dentro de cada conjunto */
}

#partidas-analisadas img {
  max-width: 100%; /* Garante que a imagem não exceda a largura de seu contêiner */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 130px;
  max-height: 45px;
}

#empatou-e-green {
  display: flex;
  align-items: center; /* Alinha a imagem e o texto verticalmente no centro */
  padding: 15px; /* Adiciona um pouco de espaço dentro de cada conjunto */
}

#empatou-e-green img {
  max-width: 100%; /* Garante que a imagem não exceda a largura de seu contêiner */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 70px;
  max-height: 45px;
}

#titulo-pg2 {
  font-size: var(--txt-titulo);
  letter-spacing: 0px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  line-height: 1.07;
}

#txt-pg2 {
  font-size: var(--txt-principal);
  letter-spacing: 0px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

#pc {
  max-width: 100%;
  max-height: auto;
  margin-top: 0;
}

#resultados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 15px;
}

#resultados img {
  max-width: 180px;
  width: 100%;
  height: auto;
}

#alguns-resultados {
  font-size: var(--txt-principal);
  color: white;
  font-weight: 300;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

#img-camisa {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

#txt-titulo-pg3 {
  font-size: var(--txt-titulo);
  color: white;
  font-weight: 400;
  width: 100%;
  margin-left: 25px;
}

#caixa-busca-pg3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 2px rgb(100, 108, 212, 0.4);
  border-radius: 15px;
  width: 360px;
  max-width: 100%;
  text-align: center;
  font-size: var(--txt-titulo);
  color: white;
  font-weight: 400;
  padding: 0 10px 0 25px;
}

#pesquisa {
  font-size: 30px;
}

#txt-principal-pg3 {
  font-size: var(--txt-principal);
  color: white;
  font-weight: 400;
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

#buton-pg3 {
  width: 100%;
  max-width: 300px;
  margin-top: 30px;
  font-size: 15px;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #49115e, #581172);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 25px; /* Adjust the border-radius as needed */
  margin-bottom: 35px;
}

#titulo-pg4 img {
  max-width: 260px;
  width: 100%;
  margin-top: 50px;
}

#txt-principal-pg4 {
  font-size: var(--txt-principal);
  color: white;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
}

#txt-principal2-pg4 {
  font-size: var(--txt-principal);
  color: white;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 50px;
}

#caixa-txt {
  margin-left: 115px;
  max-width: 100%;
  margin-top: 80px;
}

#caixa-txt img {
  width: 180px;
}

#txt-titulo-pg5 {
  font-size: 23px;
  color: white;
  font-weight: 700;
  width: 100%;
  line-height: 1.2;
}

#txt-principal-pg5 {
  font-size: var(--txt-principal);
  color: white;
  font-weight: 400;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 200px;
}

#txt-titulo1-pg6 {
  font-size: var(--txt-titulo);
  color: white;
  font-weight: 400;
  margin-top: 50px;
  text-align: center;
}

#txt-titulo2-pg6 {
  font-size: 40px;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-top: -10px;
}

#img-produto-pg6 {
  width: 350px;
  max-width: 100%;
  margin-top: 25px;
}

#img-logo-pg6 {
  width: 150px;
  margin-top: 5px;
}

#cx-lista-pg6 {
  width: 330px;
  max-width: 100%;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}

#lista-pg6 {
  list-style: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #a189b0;
  font-size: 18px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #28093c;
  text-align: left;
  margin: 20px 0;
  font-weight: 700;
  margin-bottom: 10px; /* Espaçamento entre os itens da lista */
  position: relative; /* Para posicionar o ícone de verificação */
  padding: 3px 0 2px 12px;
}

#lista-pg6:after {
  content: "";
  background-image: url("./img/Chek.webp"); /* Substitua pela URL real da sua imagem */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -5px; /* Distância da direita */
  top: -2; /* Alinhar ao topo */
  width: 35px; /* Largura da imagem */
  height: 35px; /* Altura da imagem */
}

#logo-imperio-pg7 {
  width: 200px;
  max-width: 100%;
  margin-top: 50px;
}

#txt-titulo-pg7 {
  font-size: 25px;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  line-height: 1.2;
}

#mokup-iphone-pg7 {
  width: 100px;
  max-width: 100%;
  margin-top: 20px;
}

#recebeu-a-lista-pg7 {
  font-size: 25px;
  color: white;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  text-decoration: underline;
}

#img-blilhete-pg7 {
  width: 280px;
  max-width: 100%;
  margin-top: 20px;
}

#fez-a-sua-entrada-pg7 {
  font-size: 25px;
  color: white;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
}

#img-carimbo-pg7 {
  width: 150px;
  max-width: 100%;
  margin-top: 20px;
}

#txt-lucro {
  font-size: 25px;
  color: white;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}

#img-campo-pg8 {
  width: 320px;
  max-width: 100%;
  margin-top: 40px;
}

#txt-titulo-pg8 {
  font-size: 30px;
  color: white;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}

#txt-principal-pg8 {
  font-size: var(--txt-principal);
  color: white;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

#img-camisa-frente-pg9 {
  width: 250px;
  max-width: 100%;
  margin-top: 20px;
}

#txt-titulo-pg9 {
  font-size: var(--txt-titulo);
  color: white;
  font-weight: 400;
  text-align: center;
}

#txt-principal-pg9 {
  font-size: var(--txt-principal);
  color: white;
  font-weight: 400;
  margin-top: 15px;
  text-align: center;
}
#grafico-pg9 {
  width: 400px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

#logo-imperio-pg10 {
  width: 180px;
  max-width: 100%;
  margin-top: 35px;
}

#txt-feedbak-pg10 {
  font-size: 50px;
  color: white;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

#txt-principal-pg10 {
  font-size: var(--txt-principal);
  color: white;
  font-weight: 400;
  text-align: center;
  width: 200px;
  max-width: 100%;
}

.img-depoimento {
  width: 330px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#img-depoimento4-pg10 {
  margin-bottom: 35px;
}

#txt-titulo-pg12 {
  font-size: 40px;
  color: white;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
  line-height: 1.2;
}

#txt-titulo2-pg12 {
  font-size: 40px;
  color: white;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  margin-top: -5px;
}

.price-box {
  background-image: linear-gradient(
    0deg,
    rgba(71, 38, 91, 0) 15%,
    rgba(71, 38, 91, 0.611764705882353) 84%,
    rgba(71, 38, 91, 0.611764705882353) 85%
  );
  border: 1px solid #c92091;
  /color: white; /* Cor do texto */
  padding: 20px; /* Espaçamento dentro da caixa */
  width: 330px; /* Largura da caixa */

  border-radius: 10px; /* Bordas arredondadas */
  text-align: center; /* Alinhamento do texto */
  position: relative; /* Para posicionamento absoluto dos elementos internos */
  margin-top: 50px;
  margin-bottom: 10px;
}
.price-tag {
  font-size: 50px; /* Tamanho da fonte para o preço */
  font-weight: 800;

  color: #ffff;
}

#centes {
  font-size: 30px; /* Tamanho da fonte para o preço */
  font-weight: 800;
  color: #ffff;
}
.discount {
  letter-spacing: 2.5px;
  width: 200px;
  max-width: 100%;
  font-size: 13px; /* Tamanho da fonte para a economia */
  color: #ffff;
  font-weight: 500;
  border-radius: 15px;
  background-color: #9560b8;
  border-radius: 25px; /* Bordas arredondadas para o destaque */
  display: inline-block; /* Para aplicar padding e bordas */
  padding: 1.5px 15px; /* Espaçamento dentro do destaque */
  position: absolute; /* Posicionamento absoluto */
  left: 50%; /* Centralizar horizontalmente */
  transform: translateX(-50%); /* Ajuste fino para centralização horizontal */
}
.crossed-price {
  text-decoration: line-through; /* Riscado para o preço anterior */
  font-size: 15px; /* Tamanho da fonte para o preço anterior */
  font-weight: 500;
  color: #ffff;
}

#mes {
  font-size: 35px; /* Tamanho da fonte para o preço anterior */
  font-weight: 800;
  color: #ffff;
  margin-top: 10px;
}

#txt-complementar-pg6 {
  font-size: 15px; /* Tamanho da fonte para o preço anterior */
  font-weight: 500;
  color: #ffff;
}

.best-choice {
  background-image: linear-gradient(
    0deg,
    #c82090 0%,
    #6a14d1 100%
  ); /* Cor de fundo para a etiqueta 'Melhor Escolha' */
  color: white; /* Cor do texto para a etiqueta */
  padding: 5px 15px; /* Espaçamento dentro da etiqueta */
  border-radius: 25px; /* Bordas arredondadas para a etiqueta */
  position: absolute; /* Posicionamento absoluto */
  top: -15px; /* Posicionar acima da caixa de preço */
  left: 50%; /* Centralizar horizontalmente */
  transform: translateX(-50%); /* Ajuste fino para centralização horizontal */
  font-size: 14px; /* Tamanho da fonte para a etiqueta */
  font-weight: 600; /* Negrito para a etiqueta */
}

#buton-pg12 {
  width: 240px;
  max-width: 100%;
  margin-top: 40px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  background-image: linear-gradient(90deg, #391151 0%, #571283 100%);
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px; /* Adjust the border-radius as needed */
}

.price-box-mensal {
  background-image: linear-gradient(
    0deg,
    rgba(71, 38, 91, 0) 15%,
    rgba(71, 38, 91, 0.611764705882353) 84%,
    rgba(71, 38, 91, 0.611764705882353) 85%
  );
  color: white; /* Cor do texto */
  padding: 20px; /* Espaçamento dentro da caixa */
  width: 330px; /* Largura da caixa */

  border-radius: 10px; /* Bordas arredondadas */
  text-align: center; /* Alinhamento do texto */
  position: relative; /* Para posicionamento absoluto dos elementos internos */
  margin-top: 35px;
  margin-bottom: 35px;
}

.price-box-trimestral {
  background-image: linear-gradient(
    0deg,
    rgba(71, 38, 91, 0) 15%,
    rgba(71, 38, 91, 0.611764705882353) 84%,
    rgba(71, 38, 91, 0.611764705882353) 85%
  );
  color: white; /* Cor do texto */
  padding: 20px; /* Espaçamento dentro da caixa */
  width: 330px; /* Largura da caixa */

  border-radius: 10px; /* Bordas arredondadas */
  text-align: center; /* Alinhamento do texto */
  position: relative; /* Para posicionamento absoluto dos elementos internos */
  margin-top: 45px;
  margin-bottom: 10px;
}

#txt-principal-pg13 {
  font-size: var(--txt-titulo);
  color: white;
  letter-spacing: 5px;
  font-weight: 700;
  margin-top: 50px;
}

#cx-lista-preço-pg13 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 70px;
}

#lista-preço-pg13 {
  color: #750db9;
  font-weight: 400;
  font-size: var(--txt-titulo);
}

#lista-preço-pg13 span {
  color: #fff;
  font-size: var(--txt-principal);
}

#garantia-pg14 {
  width: 250px;
  max-width: 100%;
  margin-top: 90px;
}

#txt-principal-garantia-pg14 {
  font-weight: 600;
  color: #fff;
  font-size: 25px;
  line-height: 1.2;
  margin-top: -90px;
  margin-right: 35px;
  width: 120px;
  letter-spacing: 1px;
}

#txt-titulo-pg4 {
  font-weight: 400;
  color: #fff;
  font-size: 35px;
  line-height: 1.2;
  text-align: left;
  width: 200px;
  margin-top: 25px;
  letter-spacing: 1px;
}

#txt-principal-pg14 {
  width: 270px;
  letter-spacing: 0px;
  margin-top: 18px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  margin-bottom: 70px;
}
#txt-titulo-pg15 {
  width: 300px;
  color: white;
  font-weight: 700;
  font-size: 35px;
  margin-top: 50px;
  text-align: center;
  line-height: 1.2;
}

.faq-container {
  margin-top: 25px;
  margin-bottom: 55px;
}

.faq-question {
  width: 100%;
  padding: 10px 10px 10px 35px; /* Ajuste o padding esquerdo para dar espaço para a seta */
  font-size: 13px;
  text-align: left;
  border: none;
  background-color: rgba(255, 255, 255, 0.06);
  border: 0.1px solid rgb(201, 32, 145, 0.2);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-bottom: 8px;
  position: relative;
}

.faq-question::before {
  content: "▼"; /* Usando uma seta fina que parece um "v" */
  font-size: 15px; /* Ajuste conforme necessário */
  position: absolute; /* Posicionamento absoluto dentro do .faq-question */
  left: 10px; /* Distância da borda esquerda do .faq-question */
  top: 50%; /* Alinha ao meio verticalmente */
  transform: translateY(
    -50%
  ); /* Ajuste fino para centralizar exatamente ao meio */
  color: white; /* Cor da seta */
}

.faq-question.active::before {
  content: "▲"; /* Muda para seta para cima quando ativo */
}

.faq-answer {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  display: none;
  padding: 10px;
  margin-bottom: 8px;
  margin-top: -5px;
  border-radius: 5px;
  background-image: linear-gradient(
    0deg,
    rgba(100, 52, 129, 0) 15%,
    rgba(71, 38, 91, 0.611764705882353) 84%,
    rgba(71, 38, 91, 0.611764705882353) 85%
  );

  border-left: 6px solid #c92091;
}

/* Estilo opcional para adicionar um pouco de animação */
.faq-answer.show {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#logo-imperio-pg16 {
  width: 250px;
  margin-top: 60px;
}

#txt-principal-pg16 {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin-top: 25px;
  width: 280px;
}
#rede-social-pg16 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

#rede-social-pg16 img {
  background-color: white;
  width: 40px;
  border-radius: 80px;
  padding: 10px;
}

#txt-copy-pg16 {
  width: 200px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
  margin-bottom: 60px;
}
